# Arc Testnet settlement and implemented Circle wallet configuration.
VITE_ARC_TESTNET_RPC_URL=https://rpc.drpc.testnet.arc.io
VITE_ARC_FALLBACK_RPC_URL=https://rpc.quicknode.testnet.arc.io
VITE_ARC_TESTNET_CHAIN_ID=5042002
VITE_USDC_ADDRESS=0x3600000000000000000000000000000000000000
VITE_HANDSEL_CONTRACT_ADDRESS=0x51bfB2A08E7680786eD54a00eE4d915Bab6B3867
VITE_HANDSEL_API_URL=http://localhost:8787
VITE_CIRCLE_CLIENT_KEY=
VITE_CIRCLE_CLIENT_URL=https://modular-sdk.circle.com/v1/rpc/w3s/buidl
