PORT=8787
APP_ORIGIN=http://localhost:5173,https://www.archandsel.xyz
ARC_NETWORK=mainnet
ARC_RPC_URL=https://rpc.drpc.mainnet.arc.io
ARC_CHAIN_ID=5042
USDC_ADDRESS=0x3600000000000000000000000000000000000000
HANDSEL_CONTRACT_ADDRESS=0x51bfB2A08E7680786eD54a00eE4d915Bab6B3867
HANDSEL_DEPLOYMENT_BLOCK=22724141
INDEXER_INTERVAL_MS=15000
INDEXER_CONFIRMATIONS=2
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
CIRCLE_API_KEY=
CIRCLE_BLOCKCHAIN=ARC
