PORT=8787
APP_ORIGIN=http://localhost:5173,https://www.archandsel.xyz
ARC_TESTNET_RPC_URL=https://rpc.drpc.testnet.arc.io
HANDSEL_CONTRACT_ADDRESS=0x51bfB2A08E7680786eD54a00eE4d915Bab6B3867
CIRCLE_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
